django
djangorestframework
django-cors-headers
psycopg[binary]
drf-spectacular
djangorestframework-simplejwt
google-auth
django-apscheduler
google-cloud-storage
django-storages
Pillow
daphne
channels
channels-redis
django-environ